body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}

nav {
	text-align: center;
	background-color: #BFACC8;
	color: #4F1271;
	min-height: 58px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

nav a:link {
    color: #4F1271;
    text-decoration: none;
}

nav a:visited {
    color: #4F1271;
    text-decoration: none;
}

nav a:hover {
    color: #783f8e;
    text-decoration: underline;
    font-weight: bold;
}


nav a:active {
    color: #c8c6d7;
    font-weight: bold;
}


nav ul {
	margin: 0;
	padding: 20px;
}

nav li {
	display: inline-block;
	padding: 0 30px;
}


.menu-icon {
	display: none;

	position: fixed;
	top: 0;
	right: 0;

	font-size: 32px;
	z-index: 1;
}

section {
	background-attachment: fixed;
	background-size: cover;
	min-height: 650px;
	padding: 0;
	margin: 0;
	border:1px solid transparent;
	margin-top: -60px;
	padding-top: 60px;

}

#home {
	margin-top: 58px;
	padding-top: 120px;
	background-color: #4f1271;
	background-image: url("images/computercoffee.jpg");
}

#home h1 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

/*#home h3 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}*/


#about {
	background-image: url("images/city-road-street-buildings.jpg");
}

#about h1 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

#about h3 {
	color: #4a4063;
	/*background-color: #bfacc8;
	opacity: 0.5;*/
	text-align: center;

}

#about-div {
	/*position: absolute;*/
	/*margin-top: 800px;*/
	margin-left: auto;
	margin-right: auto;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 400px;
  	height: 200px;
  	/*background-color: #bfacc8;*/
  	background: rgba(200, 198, 215, .5);
  	border-radius: 3px;
  	/*opacity: 0.5;*/
  	padding-top: 1em;
  	
}

#my_dog {

	height: auto;
	min-height: 700px;
	background: #c8c6d7;
/*	background-image: url("images/emma_fatboy.jpg");*/
	/*background-repeat: no-repeat;*/
	
	
}

#my_dog h1 {
	color: #783f8e;
	text-align: center;
}

#my_dog img {
/*	height: 283px;*/
/*	width: 190px;*/

}

#trees {
	height: auto;
	background-image: url("images/amazing-tree.jpg");
	background-repeat: no-repeat;

}

#trees h1 {
	color: #783f8e;
	text-align: center;
	text-shadow: 2px 2px #c8c6d7;
}

#trees h3{
	color: #c8c6d7;
	text-align: center;
}

#trees img {
   float: left;
   /*width: 350px;*/
   margin-bottom: 50px;
   margin-right: 20px;
   ;
}

#trees div {
	margin-top: 100px;
}


@media (max-width: 768px) {
	/*mobile styles go here*/

	nav {
		display: none;
	}

	nav ul {
		padding: 0;
	}
	
	nav li {
		display: block;
		padding: 10px 0;
	}

	.menu-icon {
		display: block;
	}

	section {
		padding-top: 144px;
	}
}