body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
}

nav {
	text-align: center;
	background-color: #BFACC8;
	color: #4F1271;
	min-height: 58px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

nav a:link {
    color: #4F1271;
    text-decoration: none;
}

nav a:visited {
    color: #4F1271;
    text-decoration: none;
}

nav a:active {
    color: #c8c6d7;
    font-weight: bold;

}

nav a:hover {
    color: #783f8e;
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 20px;
}

nav li {
	display: inline-block;
	padding: 0 30px;
}


.menu-icon {
	display: none;

	position: fixed;
	top: 0;
	right: 0;

	font-size: 32px;
}

section {
	max-height: 650px;
	padding-top: 20px;
	background-attachment: fixed;
	background-size: cover;
	height: 650px;
	padding: 0;
	margin: 0;
	border:1px solid transparent

}

#home {
	margin-top: 58px;
	background-color: #4f1271;
	background-image: url("images/computercoffee.jpg");
}

#home h1 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

/*#home h3 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}*/


#about {
	background-image: url("images/city-road-street-buildings.jpg");
}

#about h1 {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}

#about h3 {
	color: ##783f8e;
	background-color: #bfacc8;
	opacity: 0.5;
	text-align: center;


}

/*#about-div {
	position: absolute;
	margin-top: 800px;
	margin-left: auto;
	margin-right: auto;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 400px;
  	height: 200px;
  	background-color: #bfacc8;
  	border-radius: 3px;
  	opacity: 0.5;
  	padding-top: 2em;
  	
}*/

#my_dog {
	background-color: #c8c6d7;
/*	background-image: url("images/emma_fatboy.jpg");*/
	background-repeat: no-repeat;
	
}

#my_dog h1 {
	color: #783f8e;
	text-align: center;
/*	text-shadow: 2px 2px #ff0000;*/
}

#my_dog p {
	color: #C8C6D7;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}


#projects {
	background-color: lightblue;
}



@media (max-width: 768px) {
	/*mobile styles go here*/

	nav {
		display: none;
	}

	nav ul {
		padding: 0;
	}
	
	nav li {
		display: block;
		padding: 10px 0;
	}

	.menu-icon {
		display: block;
	}

	section {
		padding-top: 144px;
	}
}